@import "tailwindcss";

/* Custom Style dari Stitch & LogiTrack */
@theme {
  --color-primary: #05162b;
  --color-primary-container: #1b2b41;
  --color-surface: #f6fafe;
  --color-on-surface: #171c1f;
  --color-on-surface-variant: #44474d;
  --color-outline: #75777d;
  --color-outline-variant: #c4c6cd;
  --color-error: #ba1a1a;
  --color-error-container: #ffdad6;
  --color-on-error-container: #93000a;
  --color-on-primary: #ffffff;
}

.material-symbols-outlined {
  font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 24;
}

.login-transition {
  transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
}

/* Custom FontSize Utility agar tulisan presisi sesuai mockup */
.text-display-lg { font-size: 48px; line-height: 56px; letter-spacing: -0.02em; font-weight: 700; }
.text-label-technical { font-size: 13px; line-height: 16px; letter-spacing: 0.05em; font-weight: 500; }
.text-display-lg-mobile { font-size: 32px; line-height: 40px; letter-spacing: -0.01em; font-weight: 700; }
.text-body-md { font-size: 16px; line-height: 24px; font-weight: 400; }
.text-body-sm { font-size: 14px; line-height: 20px; font-weight: 400; }
.text-body-lg { font-size: 18px; line-height: 28px; font-weight: 400; }
.text-headline-md { font-size: 24px; line-height: 32px; font-weight: 600; }
.text-button { font-size: 16px; line-height: 24px; font-weight: 600; }